@model List<UniversityManagementSystemNRE.Models.Course>

@{
    ViewBag.Title = "List of All Courses";
}

<h2>List of All Courses</h2>

<p>
    @Html.ActionLink("Enter New Course", "Create")
</p>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>
            CourseCode
        </th>
        <th>
            CourseName
        </th>
        <th>
            Credit
        </th>
        <th>
            Description
        </th>
        <th>
            Department
        </th>
        <th>
            Semester
        </th>
    </tr>
        </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DeptCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester.SemesterName)
                </td>
            </tr>
        </tbody>
        
    }

</table>
