@model IEnumerable<UniversityManagementSystemNRE.Models.Semester>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SemesterName)
            </th>
            <th></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SemesterName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SemesterID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SemesterID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SemesterID })
                </td>
            </tr>
        </tbody>
        
    }

</table>
