@model UniversityManagementSystemNRE.Models.Teacher

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Teacher</legend>

        @Html.HiddenFor(model => model.TeacherID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TeacherName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TeacherName)
            @Html.ValidationMessageFor(model => model.TeacherName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactNo)
            @Html.ValidationMessageFor(model => model.ContactNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreditsToBeTaken)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreditsToBeTaken)
            @Html.ValidationMessageFor(model => model.CreditsToBeTaken)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreditsHaveTaken)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreditsHaveTaken)
            @Html.ValidationMessageFor(model => model.CreditsHaveTaken)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreditsRemaining)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreditsRemaining)
            @Html.ValidationMessageFor(model => model.CreditsRemaining)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DesignationID, "Designation")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DesignationID", String.Empty)
            @Html.ValidationMessageFor(model => model.DesignationID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DepartmentID, "Department")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DepartmentID", String.Empty)
            @Html.ValidationMessageFor(model => model.DepartmentID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
