@model UniversityManagementSystemNRE.Models.AllocatedRoom

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AllocatedRoom</legend>

    <div class="display-label">Course</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Course.CourseCode)
    </div>

    <div class="display-label">Room</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Room.RoomNo)
    </div>

    <div class="display-label">WeekDay</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WeekDay.DayName)
    </div>

    <div class="display-label">StartTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartTime)
    </div>

    <div class="display-label">EndTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndTime)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
