@model UniversityManagementSystemNRE.Models.Enrollment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Enrollment</legend>

    <div class="display-label">Student</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Student.RegNo)
    </div>

    <div class="display-label">Course</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Course.CourseCode)
    </div>

    <div class="display-label">EnrollmentDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnrollmentDate)
    </div>

    <div class="display-label">Grade</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Grade.GradeLetter)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
